#aside{
    -fx-background-color: linear-gradient(to bottom right, #13325Cff, #203E65ff, #2D496Fff, #3A5578ff, #476181ff, #546C8Aff, #627894ff, #6F839Dff, #7C8FA6ff, #899BAFff, #96A6B9ff, #A3B2C2ff);

}

#contentView{

    -fx-background-color: #F6F4EC;


}

#btnLogin{
    -fx-background-color:  #203E65ff;
    -fx-font-weight: bold;
    -fx-text-fill: #ffc828;
    -fx-font-size: 15px;
    -fx-background-radius: 25px;
}

#btnLogin:hover{
    -fx-translate-y: -3;
    -fx-effect: dropshadow(gaussian, #2b2628, 35, 0, 5, 5);
}
#btnLogin:pressed{
    -fx-background-color:  #F6F4EC;
    -fx-text-fill: #203E65ff;
    -fx-border-width: 3px;
    -fx-border-color: #203E65ff;
    -fx-border-radius: 25px;
}

.fields {
    -fx-background-radius: 22px;
    -fx-background-color: lightgrey;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

#enlace{
    -fx-text-fill: #ffc828;
    -fx-font-weight: bold;
}

#enlace:hover{
    -fx-underline: true;
    -fx-effect: dropshadow(gaussian, #203E65ff, 10, 0, 0, 0);
    -fx-font-size: 13px;
}

#imglogo{
    -fx-effect: dropshadow(gaussian,#000000,40,0.4,0,0);

}

#table{
    -fx-font-size: 15px;
}

#table .column-header{
    -fx-padding: 20;
    -fx-background-color: linear-gradient(to bottom,#F8F9FAff, #F0F3F5ff, #E9ECF0ff, #E1E6EBff, #D9DFE6ff, #D1D9E1ff, #CAD2DBff, #C2CCD6ff, #BAC5D1ff, #B2BFCCff, #ABB8C7ff, #A3B2C2ff);
    -fx-font-family: Ebrima;

}

#table .table-row-cell{
    -fx-font-family: Ebrima;
    -fx-wrap-text: true;
    -fx-cell-size: 120px;



}
#table .table-row-cell .table-cell {
    -fx-alignment: CENTER;
    -fx-font-family: Ebrima;
    -fx-graphic-text-gap: 0; /* Sin espacio entre el contenido y el borde de la celda */
    -fx-wrap-text: true;/* Espaciado mínimo (ajustar según tus preferencias) */
}

#table {
    -fx-cell-size: 100px;
}
#btnGear{
    -fx-background-color: transparent;
}
#btnGear:hover{
    -fx-background-color: #eae9e1;
}

#progresBar {
        -fx-accent: #2D496Fff; /* Cambia el color de la barra de progreso */
}










